.bobo-tabs {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 30px;
  list-style: none;
  border-bottom: $menu-border-width solid $menu-border-color;
  box-shadow: $menu-box-shadow;
  &.nav-card {
    .bobo-tabs-nav-item {
      margin-bottom: -$nav-link-border-width;
      &.is-active {
        color: $nav-link-active-color;
        border-color: $nav-link-card-active-border-color;
        border-width: $nav-link-border-width;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }
    }
  }
}
.bobo-tabs-nav-item {
  padding: $nav-link-padding-y $nav-link-padding-x;
  cursor: pointer;
  border: $nav-link-border-width solid transparent;
  &.is-active {
    color: $nav-link-active-color;
    border-bottom: $nav-link-border-width solid $nav-link-active-color;
  }
  &.disabled {
    color: $nav-link-disabled-color;
    pointer-events: none;
  }
}
