.toggle {
  width: 100%;
  .toggle-wrapper {
    width: $toggle-wrapper-width;
    height: $toggle-wrapper-height;
    position: relative;
    .slider {
      border-radius: 14rem;
      background-color: #ffffff;
      height: 100%;
      border: 1px solid #222222;
      transition: background-color linear 0.5s;
      &.isChecked {
        background-color: $blue;
        &::before {
          left: $toggle-wrapper-width - $toggle-slider-width;
        }
      }
      &::before {
        transition: all ease-in-out 0.5s;
        position: absolute;
        left: 0;
        width: $toggle-slider-width;
        height: $toggle-slider-height;
        background-color: $info;
        content: "";
        display: inline-block;
        border-radius: 50%;
      }
    }
  }
}
